<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("SayfalardakiCSS",true)
</head>
<body>
<div>
    @*master page = layout*@
    
    <h1>Hooop Bak Burdayım Ve hep Burda Kalcam</h1>
    @RenderBody()

</div>
</body>
</html>
