
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    res
</div>
</body>
</html>
<script>
    function SepettekiUrunleriGetir() {
        debugger
        var veriler = JSON.parse(localStorage.getItem("sepet"))
    }
</script>
